<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление сотрудника</title>
</head>
<body>
<button class="knopka_perecklyuch" type="button">
    <img src="../images/strelka_lev.png" alt="Назад" width="20" height="20" onclick="location.href='/person/main';">
</button>
<table>
    <tbody>
        <form action="#" th:action="@{/person/create}" th:object="${person}" method="post">
            <tr><p>Полное имя: <input type="text" th:field="*{name}" placeholder="Григорьева Анна Александровна"/></p></tr>
            <tr><p>Группа сотрудников: <input type="text" th:field="*{groupPerson}" placeholder="Штатные сотрудники"/></p></tr>
            <tr><p>Дата рождения: <input type="text" th:field="*{dateBirth}" placeholder="03.02.1983"/></p></tr>
            <tr><p>Пол: <input type="text" th:field="*{sex}" placeholder="Женский"/></p></tr>
            <tr><p>СНИЛС: <input type="text" th:field="*{snils}" placeholder="073-469-707 94"/></p></tr>
            <tr><p>Должность: <input type="text" th:field="*{post}" placeholder="Начальник отдела кадров"/></p></tr>
            <tr><p>Подразделение: <input type="text" th:field="*{subdivision}" placeholder="Отдел кадров"/></p></tr>
            <tr><p>Дата приема: <input type="text" th:field="*{dateFormatAdd}" placeholder="31.08.2006"/></p></tr>
            <tr><p>Дата увольнения: <input type="text" th:field="*{dateFormatDis}"/></p></tr>
            <tr><p><input type="submit" value="Создать" /></p></tr>
        </form>
    </tbody>
</table>
</body>
</html>