<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление сотрудника</title>
</head>
<body>
<button class="knopka_perecklyuch" type="button">
    <img src="../images/strelka_lev.png" alt="Назад" width="20" height="20" onclick="location.href='/person/main';">
</button>
<table>
    <tbody>
    <tr>
        <td>Полное имя: </td>
        <td th:utext="${person.getName()}"></td>
    </tr>
    <tr>
        <td>Группа сотрудников: </td>
        <td th:utext="${person.getGroupPerson()}"></td>
    </tr>
    <tr>
        <td>Дата рождения: </td>
        <td th:utext="${person.getDateBirth()}"></td>
    </tr>
    <tr>
        <td>Пол: </td>
        <td th:utext="${person.getSex()}"></td>
    </tr>
    <tr>
        <td>СНИЛС: </td>
        <td th:utext="${person.getSnils()}"></td>
    </tr>
    <tr>
        <td>Должность: </td>
        <td th:utext="${person.getPost()}"></td>
    </tr>
    <tr>
        <td>Подразделение: </td>
        <td th:utext="${person.getSubdivision()}"></td>
    </tr>
    <tr>
        <td>Дата приема: </td>
        <td th:utext="${person.getDateFormatAdd()}"></td>
    </tr>
    <tr>
        <td>Дата увольнения: </td>
        <td th:utext="${person.getDateFormatDis()}"></td>
    </tr>
    <tr>
        <td><form th:action="@{'/person/change/{id}'(id=${person.getId()})}" th:method="get" >
            <button type="submit">Изменить</button>
        </form></td>
        <td><form th:action="@{'/person/delete/{id}'(id=${person.getId()})}" th:method="delete" >
            <button type="submit">Удалить</button>
        </form></td>
    </tr>
    </tbody>
</table>
</body>
</html>