<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="../styles/css/styleMainPage.css">
</head>
<body>
<table>
    <tbody>
    <tr>
        <td><img src="../images/star.jpg" alt="*" width="20" height="20"></td>
        <td style="width: 100%;"><p>Сотрудники</p></td>
    </tr>
    </tbody>
</table>
<table>
    <tbody>
    <tr>
        <td><button class="knopka_middle" type="button" name="create_page_button" onclick="location.href='/person/create';">Создать</button></td>
    </tr>
    </tbody>
</table>
<table id="table_data">
    <tbody>
    <tr>
        <td>Имя</td>
        <td>Подразделение</td>
        <td>Должность</td>
        <td>Дата приема</td>
        <td>Дата увольнения</td>
    </tr>
    <tr th:each="person:${persons}">
        <td><a th:href="@{'/person/info/' + ${person.getId()}}" th:utext="${person.getName()}" ></a></td>
        <td th:utext="${person.getSubdivision()}"></td>
        <td th:utext="${person.getPost()}"></td>
        <td th:utext="${person.getDateFormatAdd()}"></td>
        <td th:utext="${person.getDateFormatDis()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>